@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {



    --background: 210 100% 95%;



    --foreground: 210 60% 10%;



    --card: 0 0% 100%;



    --card-foreground: 210 60% 10%;



    --popover: 0 0% 100%;



    --popover-foreground: 210 60% 10%;



    --primary: 120 100% 50%;



    --primary-foreground: 0 0% 100%;



    --secondary: 200 100% 50%;



    --secondary-foreground: 0 0% 100%;



    --muted: 0 0% 80%;



    --muted-foreground: 210 60% 20%;



    --accent: 120 100% 60%;



    --accent-foreground: 210 100% 10%;



    --destructive: 0 100% 50%;



    --destructive-foreground: 0 0% 100%;



    --border: 210 100% 85%;



    --input: 0 0% 95%;



    --ring: 120 100% 60%;



    --chart-1: 120 80% 50%;



    --chart-2: 200 80% 60%;



    --chart-3: 60 80% 50%;



    --chart-4: 300 80% 60%;



    --chart-5: 0 80% 50%;



    --radius: 0.4rem}
  .dark {



    --background: 210 100% 5%;



    --foreground: 210 100% 90%;



    --card: 0 0% 10%;



    --card-foreground: 210 100% 90%;



    --popover: 0 0% 15%;



    --popover-foreground: 210 100% 90%;



    --primary: 120 100% 40%;



    --primary-foreground: 0 0% 100%;



    --secondary: 200 100% 40%;



    --secondary-foreground: 0 0% 100%;



    --muted: 0 0% 30%;



    --muted-foreground: 210 100% 90%;



    --accent: 120 100% 50%;



    --accent-foreground: 210 100% 90%;



    --destructive: 0 100% 50%;



    --destructive-foreground: 0 0% 100%;



    --border: 210 100% 20%;



    --input: 0 0% 10%;



    --ring: 120 100% 50%;



    --chart-1: 120 80% 40%;



    --chart-2: 200 80% 50%;



    --chart-3: 60 80% 40%;



    --chart-4: 300 80% 50%;



    --chart-5: 0 80% 40%}}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}







@layer base {
  * {
    @apply border-border;}
  body {
    @apply bg-background text-foreground;}}
